@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:ital@0;1&display=swap");

body,
footer {
    background-color: rgb(219, 232, 230);
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #d1f4edcf;
}

.h1-info,
.start-info {
    margin: 15px auto 15px 15px;
}

.addWord {
    height: 0px;
    margin: 0 auto;
}

.info {
    font-weight: 700;
    color: rgb(31, 106, 81);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
}

.info-text {
    flex: 1;
    padding-right: 20px;
}

.info-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logo-img {
    max-width: 100%;
    height: auto;
}

.btn-instr {
    color: #fff;
}

.info-instruction {
    margin: 5px 15px 0 15px;
    color: rgba(135, 137, 136, 0.941);
    font-weight: 700;
}

.btn-add-word-form-open {

    height: 60px;
    margin-bottom: 15px;
    display: flex;
    cursor: pointer;
    width: 100%;
    padding: 15px 15px 0 15px;
    background: #b0f0e5cf;
    font-weight: 700;
    border-color: #fff;
    color: #fff;
}


.start-btn {

    height: 60px;
    margin-bottom: 15px;
    display: flex;
    cursor: pointer;
    width: 100%;
    padding: 15px 15px 0 15px;
    background: #b0f0e5cf;
    font-weight: 700;
    border-color: #fff;
    color: #fff;
}

.forma-add-words {
    display: none;
    font-size: 20px;
    padding: 15px 0;
    width: 100%;
    left: 50%;
    right: 50%;
    border: none;
    border-bottom: 1px solid #fff;
}

.forma-translate {
    font-size: 20px;
    padding: 15px 0;
    margin-bottom: 20px;
    width: 100%;
    left: 50%;
    right: 50%;
    border: none;
    border-bottom: 1px solid #fff;
}

.word-for-translate,
.word-for-translate-in-forma {
    width: 100%;
    height: 30px;
    padding: 15px 0;
    margin-bottom: 20px;
    display: flex;
    border-bottom: 1px solid #fff;
    border-color: #fff;
}

.input-translate,
.input-translate-in-forma,
.input-theme-in-forma {
    width: 100%;
    height: 30px;
    padding: 15px 0;
    margin-bottom: 20px;
    display: flex;
    border-color: #fff;
    border-bottom: 1px solid #fff;
    background: #fff;
}

.check-btn,
.save-word-btn {
    height: 60px;
    margin-bottom: 15px;
    display: flex;
    cursor: pointer;
    width: 100%;
    padding: 15px 15px 0 15px;
    background: #b0f0e5cf;
    font-weight: 700;
    border-color: #fff;
    color: #fff;
}

.result {
    visibility: hidden;
    margin: 15px 15px 15px 15px;
    color: rgb(31, 106, 81);
    font-weight: 700;

}

.help-btn {
    height: 60px;
    display: flex;
    cursor: pointer;
    width: 100%;
    padding: 15px 15px 15px 15px;
    background: #b0f0e5cf;
    font-weight: 700;
    border-color: #fff;
    color: #fff;
}

.help-word,
.save-word-result {
    visibility: hidden;
    margin: 15px 15px 0 15px;
    color: rgb(31, 106, 81);
    font-weight: 700;
}

.thema-area {

    margin: 15px 15px 0 15px;
    color: rgb(31, 106, 81);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
}

.thema-word {
    visibility: hidden;
}

.footer-info {
    color: rgb(31, 106, 81);
    background-color: cadetblue;
    height: 50px;
    position: relative;
}

.author {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.heart {
    color: white;
}